.confirmation-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-family:Calibri;
    z-index:9999;
}

.confirmation-buttons {
    display: flex;
    justify-content: center;
}

.confirmation-buttons button {
    margin-right: 10px;
}

.confirmation-buttons button:hover {
    cursor:pointer;
}

.confirmation-buttons .confirm {
    color:white;
    background-color: rgb(5, 207, 5);
    border: none;
    border-radius: 10%;
}

.confirmation-buttons .cancel {
    color:white;
    background-color: red;
    border:none;
    border-radius: 10%;
}