.files-div {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:10vh;
}

.file-component {
    position:relative;
    border:none;
    border-radius:7px;
    background-color:rgba(255, 255, 255, 0.5);
    width:250px;
    min-height:175px;
    text-align:center;
    padding-top:15px;
    font-family: Calibri;
}

.file-name {
    display:inline;
    font-size: 20px;
}

.file-type {
    font-size:14px;
}




.file-uploaded-by {
    font-size:18px;
}

.file-timestamp {
    font-size:12px;
}

.file-uploaded-by, .file-timestamp {
    margin-top:25px;
}

.file-actions {
    position:absolute;
    text-align: center;
    left:50%;
    transform: translateX(-50%);
    bottom:10px;
}

.file-actions button {
    height: 30px;
    width:30px;
    vertical-align: top;
}

.download-btn:hover {
    cursor: pointer;
    font-weight:bold;
}

.delete-file-btn {
    margin-left:5px;
    background-color: #ff4d4d;
    color:white;
    border:none;
    border-radius: 7px; 
}

.delete-file-btn:hover {
    cursor:pointer;
    background-color: #ff6666;
}


.new-file-btn-div {
    margin-top:20px;
    display:flex;
    justify-content: center;
}

.new-file-btn {
    cursor:pointer;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow : 0 4px 6px rgb(63, 63, 63); /* Add a subtle shadow */
    color:rgb(63,63,63);
    border:none;
    padding:2px;
    border-radius:7px;
    font-weight:bold;
    
}

.upload-modal {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:rgba(255, 255, 255, 0.9);
    z-index:999;
    border:solid 1px black;
    border-radius: 7px;
    min-height:250px;
    width:300px;
    text-align:center;
    font-family:Calibri;
}

.upload-form {
    padding:10px;
}

.drop-area {
    border:dashed 1px blue;
    padding:20px;
}

.browse {
    color:orange;
    margin-top:3px;
}

.file-upload-label:hover {
    cursor:pointer;
    margin-top:3px;
}

.file-input {
    display:none;
}

.file-name-input{
    display:block;
    margin:15px auto;
}

.upload-modal-btns {
    text-align:center;
}

.upload-modal-btns button:hover {
    cursor:pointer;
}

.close-modal-btn {
    margin-left:5px;
}