body {
    background-image: url('dist/app-pic.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
}

button {
    cursor:pointer;
}

span {
    font-weight:bold;
    font-size: 20px;
}

.profile-page {
    text-align: center;
    font-family:Calibri;
}

.top-of-page {
    display:inline-block;
}

.top-of-page button {
    margin-left:20px;
}

.submit-btn {
    color:red;
    background-color: whitesmoke;
    border:none;
    border-radius:7px;
    box-shadow : 0 2px 3px red;
}

.error-message {
    color:red;
    font-weight:bold;
}

.dropdown-btn {
    margin-top:10px;
    margin-bottom:10px;
    font-weight:bold;
    background:none;
    border:none;
    font-size:14px;
}

.new-project-form {
    text-align: center;
    display:none;
    background-color:rgb(255,255,255,0.8);
    border: none;
    border-radius:7px;
    max-width:600px;
    max-height:450px;
    margin:0 auto;
    padding-bottom:10px;
}

.new-project-element {
    display:block;
    background-color:rgb(255,255,255,0.0);
}

#new-project-title {
    width:100%;
    border:none;
    outline:none;
}

#new-project-textarea {
    margin-top:15px;
    height: 300px;
    width:100%;
    border:none;
    outline:none;
}

#new-project-textarea::-webkit-scrollbar {
    width: 3px;
}

#new-project-textarea::-webkit-scrollbar-track {
    border-radius:8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

#new-project-textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #8e8d8d;
}

#new-project-button {
    margin:15px auto;
    cursor:pointer;
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow : 0 4px 6px rgb(63, 63, 63);
    border:none;
    padding:2px;
    border-radius:7px;
    font-weight:bold;
    
}

#manage-projects {
    margin-top:25px;
}

.manage-projects-elements {
    display:inline-block;
    vertical-align:top;
    max-height:275px;
    width:250px;
}

#projects {
    overflow-y: scroll;
}

#projects::-webkit-scrollbar {
    width: 3px;
}

#projects::-webkit-scrollbar-track {
    display:none;
}

#projects::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #8e8d8d;
}


#invitations {
    overflow-y: scroll;
}

#invitations::-webkit-scrollbar {
    width: 3px;
}

#invitations::-webkit-scrollbar-track {
    display:none; 
}

#invitations::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #8e8d8d;
}

.invitation-form {
    display:inline-block;
}

.invitation-text {
    display:block;
}

.btn-container {
    display:block;
}

.accept-btn,
.deny-btn {
    margin-top:7.5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    border-radius: 100%;
    border: none;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.accept-btn {
    background-color:  white;
    color:#3ed63e;
    box-shadow : 0 4px 6px #3ed63e;
    font-weight: bold;
    font-size: 12px;
}

.deny-btn {
    background-color:white;
    color:  #ff4d4d;
    box-shadow : 0 4px 6px #ff4d4d;
    font-weight: bold;
    font-size: 12px;
}

.accept-btn:hover {
    background-color: #72f772;
    color:white;
}

.deny-btn:hover {
    background-color: #ff6666;
    color:white;
}

.project-title-div {
    margin-top:5px;
}

.project-title {
    color:inherit;
    text-decoration: none;
}

.project-title:hover {
    font-weight: bolder;
}

