.home-page-container {
    display:flex;
    justify-content: center;
}

.home-page {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    font-family: Calibri;
    background-color:rgba(255, 255, 255, 0.5);
    border:none;
    border-radius:7px;
}

.project-section, .participants-section {
    flex:1; 
    border:none;
    max-width:500px;
    min-width:320px;
    padding-bottom:20px;
}

.project-section {
    text-align:center;
}

.project-header {
    margin-bottom:20px;
}

.project-description {
    border:none;
    border-radius:7px;
    padding:10px;
    max-width:500px;
    margin:0 auto;
    white-space: pre-line;
}


.leave-project-btn, .close-project-btn {
    margin-top:30px;
    background-color: #ff4d4d;
    color:white;
    border-radius:3px;
    border:none;
    padding:3px;
}

.leave-project-btn:hover, .close-project-btn:hover {
    background-color: #ff6666;
}

.close-project-btn {
    margin-left:15px;
}

.invitations-div {
    text-align:center;
    margin-bottom: 15px;
}

.invitation-input {
    display:block;
    margin:3px auto; 
}

.invitations-div {
    width:100%;
}

.participants-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%; /* Set the height of the container */
}

.participants-title {
    text-align: center;
}

.participants-list-div {
    border:solid 1px rgb(49, 49, 255);
    border-radius:7px;
    margin:5 auto;
    padding-top:3px;
    padding-left:20px;
    padding-right: 20px;
    padding-bottom:20px;
    max-height: 250px;
    width:250px;
}

.participant {
    margin-bottom:10px;
}

.participant-options {
    float:right;
}


.list {
    height:100%;
    overflow-y: scroll;
}

.list::-webkit-scrollbar {
    width:3px;
}

.list::-webkit-scrollbar-track {
    display:none; 
}

.list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #8e8d8d;
}

.message-color-red {
    color:red;
}

.message-color-green {
    color:green;
}


.gold-user {
    color:gold;
}

.grey-user {
    color:grey;
}

.is-admin-btn, .not-admin-btn {
    border:none;
    background:none
} 

.is-admin-btn:hover, .not-admin-btn:hover {
    cursor:pointer;
}

.remove-from-project-btn {
    border:none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.remove-from-project-btn:hover {
    background-color: #ff6666;
    cursor:pointer;
}