.notes-container {
    display:flex;
    gap:15vh;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

.new-note-div {
    flex-grow:1;
    height: 15rem;
}

.new-note-button {
    cursor:pointer;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow : 0 4px 6px rgb(63, 63, 63); 
    color:rgb(63,63,63);
    border:none;
    padding:2px;
    border-radius:7px;
    font-weight:bold;
}

.notes {
    flex-grow:2;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 10vh;
}

.note {
    background-color: #f2ffbc; 
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow : 0 4px 6px rgb(63, 63, 63); 
    width:15rem;
    min-height:10rem;
    max-height:16rem;
    overflow-y: scroll;
  }

.note::-webkit-scrollbar {
    width: 3px;
}

.note::-webkit-scrollbar-track {
    border-radius:8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.note::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #8e8d8d;
}

.note-creator {
    font-weight: bold;
    margin-bottom: 8px;
} 
  
.note-content { 
    margin-bottom: 12px;
    white-space: pre-line;
}
  
.note-timestamp {
    font-size: 12px;
    color: #666;
    margin-bottom: 8px;
}

.edit-button {
    position:relative;
    float:right;
    background-color: #cad7ff; 
    color:black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:16px;
    height: 16px;
    font-size:10px;
    font-weight: bold;
    margin-right:6px;
}

.edit-button:hover {
    background-color: #aabefa;
} 
  
.delete-note {
    position:relative;
    float:right;
    background-color: #ff6666; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:16px;
    height: 16px;
    font-size:8px;
    font-weight: bold;
}
  
.delete-note:hover {
    background-color: #ff4d4d; 
}

.new-note-button-div {
    display:flex;
    justify-content: center;
    margin-bottom:20px;
}

.new-note-modal {
    background-color:#f0ffb2 ;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    height:400px;
    width:375px;
    max-width: 100%;
    z-index: 999;
}

.note-textarea {
    background-color: #f0ffb2;
    border:none;
    flex: 1; /* Take up remaining space */
    margin-bottom: 10px; 
    width: 400px;
    max-width: 100%;
    overflow-y: scroll;
}

.note-textarea::-webkit-scrollbar {
    width: 3px;
}

.note-textarea::-webkit-scrollbar-track {
    border-radius:8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.note-textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #8e8d8d;
}

.note-textarea:focus {
    outline: none;
}


.note-modal-buttons {
    background-color: #f0ffb2;
    text-align: center; /* Align buttons to the right */
}

.note-modal-buttons button {
    margin-left:10px;
    margin-right: 10px;
    margin-bottom:4px;
    border-radius:7px;
    height:30px;
    width:30px;
}
.confirm-note-button {
    background-color:  white;
    color:#3ed63e;
    border:1px solid #3ed63e;
    box-shadow : 0 4px 6px #3ed63e;
    font-weight: bold;
    font-size: 12px;
}

.confirm-note-button:hover {
    background-color: #72f772;
    color:white;
    cursor: pointer;
}

.cancel-new-note {
    background-color:white;
    border:1px solid #ff4d4d;
    color:  #ff4d4d;
    box-shadow : 0 4px 6px #ff4d4d;
    font-weight: bold;
    font-size: 12px;
}

.cancel-new-note:hover {
    background-color: #ff6666;
    color:white;
    cursor: pointer;
}
