body {
    background-image: url('dist/app-pic.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
}

button:hover {
    cursor:pointer;
}

.back-button {
    position:absolute;
    top:10px;
    left:10%;
    border-radius:50%;
    border:none;
    height:40px;
    width:40px;
    font-size:16px;
    background-color: white;
    color:black;
    border:solid 2px rgb(117, 253, 117)
}

@media(max-width:580px) {
    .back-button {
        left:2%;
    }
}

.back-button:hover {
    cursor:pointer;
    background-color:  #8ffb8f;
}

.menu-bar{
    margin-top:60px;
    height:auto;
    margin-bottom:20px;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:2.5rem;
}

@media (max-width:390px) {
    .menu-bar {
       column-gap: 5rem; 
       margin-top:80px;
    }
}

.menu-bar button {
    transition-duration: 0.5s;
    border: none;
    border-radius:50%;
    padding-top: 0.7rem;
    padding-bottom:0.7rem;
    height: 2.5rem;
    width: 2.5rem;
}

.selected-tool {
    background-color: #acfdae;
}

.selected-tool:hover {
    background-color: #76fd78;
    box-shadow: 0 0 2px 2px #eaf1fa;
    width:3.3rem;
    height:3.3rem;
}

.not-selected:hover {
    background-color: #e4effc;
    box-shadow: 0 0 2px 2px #eaf1fa;
    width:3.3rem;
    height:3.3rem;
}









