.menu-bar{
    height:4rem;
}

.menu-bar button {
    display:inline-block;
    transition-duration: 0.5s;
    border: none;
    border-radius:50%;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom:0.7rem;
    height: 2.5rem;
    width: 2.5rem;
}

.menu-bar button:hover {
    background-color: #e4effc;
    box-shadow: 0 0 2px 2px #eaf1fa;
    width:3.3rem;
    height:3.3rem;
}

.selected-tool {
    background-color: #e4effc;
}

.confirmation-window {
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.confirmation-buttons {
    display: flex;
    justify-content: center;
}

.confirmation-buttons button {
    margin-right: 10px;
}

.confirmation-buttons .confirm {
    color:white;
    background-color: rgb(5, 207, 5);
    border: none;
    border-radius: 10%;
}

.confirmation-buttons .cancel {
    color:white;
    background-color: red;
    border:none;
    border-radius: 10%;
}







