.whiteboard-menu {
    font-family:Calibri;
    text-align:center;
}

.create-whiteboard-btn {
    margin-left:5px;
    cursor:pointer;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow : 0 4px 6px rgb(63, 63, 63); 
    color:rgb(63,63,63);
    border:none;
    padding:2px;
    border-radius:7px;
    font-weight:bold;
}

.new-whiteboard {
    margin-bottom:50px;
}

.new-whiteboard-input {
    width:300px;
}

.select-whiteboard {
    max-width:600px;
    margin:0 auto;
    padding-left:20px;
    padding-right:20px;
    max-height:350px;
    overflow-y:scroll;
}

.select-whiteboard::-webkit-scrollbar {
    width: 3px;
}

.select-whiteboard::-webkit-scrollbar-track {
    display: none;
}

.select-whiteboard::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #8e8d8d;
}

.project-whiteboard {
    display:flex;
    justify-content: center;
    margin-bottom:10px;
}

.whiteboard-title {
    flex-grow:1;
    padding:2px;
}

.whiteboard-title,.delete-btn {
    display:inline-block;
}


.whiteboard-title:hover {
    cursor:pointer;
    font-weight: bolder;
    
}

.delete-btn {
    float:right;
    border:none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: white;
    font-weight: bold;
    font-size: 10px;
    margin:auto;
}

.delete-btn:hover {
    background-color: #ff6666;
    cursor:pointer;
}

.to-whiteboard-menu {
    position:relative;
    left:50%;
    transform:translate(-50%,0);
    cursor:pointer;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow : 0 4px 6px rgb(63, 63, 63); /* Add a subtle shadow */
    color:rgb(63,63,63);
    border:none;
    padding:2px;
    border-radius:7px;
    font-weight:bold;
    margin-bottom:10px;
}

.whiteboard {
    margin-top:4px;
}

.loading-div {
    position:absolute;
    left:50%;
    right:50%;
    transform:translate(-50%,-50%);
}



