{% load django_vite %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Collaborate App</title>
        <link href="{% static 'src/index.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="profile-page">
            <h3 class="top-of-page">Welcome, {{ request.user.username }} !</h3>  
            <form class="top-of-page" action="/logout">
                {% csrf_token %}
                <button class="submit-btn" type="submit">Logout</button>
            </form>
            <div class="new-project-dropdown">
                <button class="dropdown-btn">New Project <span>+</span></button>
            </div>   
            <div class="new-project-form">
                {% if message %} <p class="error-message">{{ message }}</p> {% endif %}
                <form action="{% url 'create_project' %}" method="POST">
                    {% csrf_token %}
                    <input id="new-project-title" class="new-project-element" type="text" name="title" maxlength="64" placeholder="Project title" />
                    <textarea id="new-project-textarea" class="new-project-element" name="description" maxlength="512" placeholder="Provide a brief description of the project, max 512 characters"></textarea>
                    <button id="new-project-button" class="new-project-element" type="submit">Create Project</button>
                </form>
            </div>
            <div id="manage-projects">
                <div id="projects" class="manage-projects-elements">
                    <h3>Projects</h3>
                    {% for project in projects %}
                    <div class="project-title-div">
                        <a class="project-title" href="{% url 'project' project.id %}">{{ project.title }}</a>
                    </div>
                    {% endfor %}
                </div>
                <div id="invitations" class="manage-projects-elements">                
                    <h3>Invitations</h3>
                    {% for invitation in invitations %}
                    <hr>
                    <div id="btn-container">
                        <div class="invitation-text">"{{ invitation.sender }}" invited you to participate on project "{{ invitation.project }}"</div>
                        <form action="{% url 'invitation_accepted' invitation.id %}" method="POST" class="invitation-form">
                            {% csrf_token %}
                            <button class="accept-btn" type="submit">&#x2713;</button>
                        </form>
                        <form action="{% url 'invitation_denied' invitation.id %}" method="POST" class="invitation-form">
                            {% csrf_token %}
                            <button class="deny-btn" type="submit">&#x2717;</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded',() => {
                const dropdownBtn = document.querySelector('.dropdown-btn');
                const newProjectForm = document.querySelector('.new-project-form');

                dropdownBtn.addEventListener('click',() => {
                    if (!newProjectForm.style.display || newProjectForm.style.display === 'none') {
                        newProjectForm.style.display = 'block';
                    } else {
                        newProjectForm.style.display = 'none';  
                    } 
                });
            });
        </script>    
    </body>
</html>